p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.header-section-number{
  color: #7100ff;
}

.title{
  color: #7100ff;
}

.hasAnchor{
  color: #7100ff;
}

.subtitle {
  font-size: 15px;
}

.lf {
  left: 0;
}
.rig {
  right: 0;
}
.col {display: flex; }

.cols {
display: flex;
}


.img-text-box {
  		display: flax;
			justify-content: center;
			align-items: center;
			/*min-height: 100vh;*/

}



.imige-left {
			max-width: 300px;
			float: left;
			border: 3px solid #fff;
			border-radius: 10px;
			margin-right: 15px;
			text-align: center;
}

.imige-right {
			max-width: 300px;
			float: right;
			border: 3px solid #fff;
			border-radius: 10px;
			margin-left: 15px;
			text-align: center;
}


.imige-right img {
  margin-bottom: auto;
}

.imige-left img {
  margin-bottom: auto;
}

.text-box {
}

.imige-center {
  text-align: center;
}


.imige-center img  {
  display: block;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.imige-center-100 {
  text-align: center
}

.imige-center-100 img  {
  display: block;
  margin-bottom: auto;
 /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}